@font-face {
  font-family: "SegoeUIRegular";
  src: url("fonts/SegoeUI.eot");
  src: url("fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), url("fonts/SegoeUI.woff") format("woff"), url("fonts/segoeui.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "SegoeUIBold";
  src: url("fonts/SegoeUI-Bold.eot");
  src: url("fonts/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/SegoeUI-Bold.woff") format("woff"), url("fonts/SegoeUI-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "SegoeUISemiBold";
  src: url("fonts/SegoeUI-Semibold.eot");
  src: url("fonts/SegoeUI-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/SegoeUI-Semibold.woff") format("woff"), url("fonts/SegoeUI-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
body {
  font-family: SegoeUIRegular;
  color: #585858;
  background: url(images/bg.jpg) top center no-repeat; }

a {
  text-decoration: none;
  color: #585858; }
  a:hover, a:focus {
    text-decoration: none;
    color: #EE7925; }

.content-box, .mainpage {
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.41);
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.41);
  background: #fff; }

.content-box {
  max-width: 60%; }

.login-container, .info-container {
  max-width: 90%;
  margin: 0 auto; }

.welcome-text {
  text-align: center; }

header {
  height: 150px; }

h1, h2 {
  margin: 0 0 20px 0; }

h2 {
  font-family: SegoeUIBold;
  font-size: 23px; }

.sub-title {
  position: relative;
  text-align: center;
  margin: 0 0 20px 0; }
  .sub-title span {
    background: #fff;
    z-index: 9;
    position: relative;
    padding: 0 10px;
    color: #A9A9A9; }
  .sub-title:before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #E0DCDC;
    content: '';
    z-index: 8; }

.socials {
  text-align: center;
  font-size: 57px; }
  .socials .social-item {
    margin: 0 15px;
    text-align: center; }
    .socials .social-item.vk:hover {
      color: #5B8CBD; }
    .socials .social-item.fb:hover {
      color: #305F8E; }
    .socials .social-item.gpls:hover {
      color: #EC0000; }

.logo-area .logo {
  margin: 20px auto 0;
  display: block;
  width: 200px; }

.login-additional-area {
  text-align: center;
  max-width: 90%;
  margin: 0 auto; }
  .login-additional-area .registation, .login-additional-area .forgotten {
    text-decoration: underline; }
  .login-additional-area .registation {
    float: left; }
  .login-additional-area .forgotten {
    float: right; }

.mainpage {
  background: #fff; }

.form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 38px; }

.btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
  .btn.login-btn {
    display: block;
    width: 100%; }
  .btn.btn-logout {
    float: right;
    border: none;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFE06B;
    color: #111214;
    border-bottom: 1px solid #E0C561; }
    .btn.btn-logout:hover {
      background: #ffd538; }
  .btn.btn-primary {
    background-color: #D63535;
    border-color: #D63535;
    padding: 8px 0; }

/*# sourceMappingURL=style.css.map */
