
@font-face {
  font-family: "SegoeUIRegular";
  src: url("fonts/SegoeUI.eot");
  src: url("fonts/SegoeUI.eot?#iefix")format("embedded-opentype"),
  url("fonts/SegoeUI.woff") format("woff"),
  url("fonts/segoeui.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUIBold";
  src: url("fonts/SegoeUI-Bold.eot");
  src: url("fonts/SegoeUI-Bold.eot?#iefix")format("embedded-opentype"),
  url("fonts/SegoeUI-Bold.woff") format("woff"),
  url("fonts/SegoeUI-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUISemiBold";
  src: url("fonts/SegoeUI-Semibold.eot");
  src: url("fonts/SegoeUI-Semibold.eot?#iefix")format("embedded-opentype"),
  url("fonts/SegoeUI-Semibold.woff") format("woff"),
  url("fonts/SegoeUI-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
//variables - start

$fontRegular: SegoeUIRegular;
$fontBold: SegoeUIBold;
$fontSemiBold: SegoeUISemiBold;

$fontSizeSmall: 12px;
$fontSizeRegular: 14px;
$fontSizeBigger: 16px;

$colorWhite: #fff;
$border-color: #E0DCDC;
$commonColor: #585858;
$themeRed: #D63535;

$fieldHeight: 38px;

$loginInnerContainerWidth: 90%;
$hoverLinkColor: #EE7925;
$contentVerticalGap: 40px;
$headerHeight: 150px;
$titleH2Size: 23px;

$subTitleMargin: 0 0 20px 0;
$subTitlePadding: 0 10px;
$subTitleColor: #A9A9A9;
$subTitleZindex: 9;
$socialsItemSize: 57px;
$socialsItemMargin: 0 15px;
$logoWidth: 200px;
$logoMargin: 20px auto 0;
$loginAddAreaMargin: 0 auto;

$btnLogoutBg: #FFE06B;
$btnLogoutColor: #111214;
$btnLogoutBorderColor: #E0C561;
$btnPrimaryBg: $themeRed;
$btnPrimaryColor: $themeRed;

//variables - end

//mixins - start

@mixin round-corners ($radius){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin round-corners-detailed ($radius-top, $radius-top, $radius-bottom, $radius-bottom){
  -moz-border-radius: $radius-top $radius-top $radius-bottom $radius-bottom;
  -webkit-border-radius: $radius-top $radius-top $radius-bottom $radius-bottom;
  border-radius: $radius-top $radius-top $radius-bottom $radius-bottom;
}

@mixin box-shadow ($hOffset, $vOffset, $blurRadius, $color){
  -webkit-box-shadow: $hOffset $vOffset $blurRadius $color;
  -moz-box-shadow: $hOffset $vOffset $blurRadius $color;
  box-shadow: $hOffset $vOffset $blurRadius $color;
}

@mixin inline-block {
  float: none;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
}

//mixins - end

//styles

body {
  font-family: $fontRegular;
  color: $commonColor;
  background: url(images/bg.jpg) top center no-repeat;
}

a{
  text-decoration: none;
  color: $commonColor;

  &:hover, &:focus {
    text-decoration: none;
    color: $hoverLinkColor;
  }
}

.content-box, .mainpage{
  padding-top: $contentVerticalGap;
  padding-bottom: $contentVerticalGap;
  @include box-shadow(0, 4px, 3px, rgba(0, 0, 0, 0.41));
  background: $colorWhite;
}

.content-box {
  max-width: 60%;
}

.login-container, .info-container {
  max-width: $loginInnerContainerWidth;
  margin: 0 auto;
}

.welcome-text {
  text-align: center;
}

header {
  height: $headerHeight;
}

h1,h2{
  margin: 0 0 20px 0;
}

h2 {
  font-family: $fontBold;
  font-size: $titleH2Size;
}

.sub-title {
  position: relative;
  text-align: center;
  margin:$subTitleMargin;

  span{
    background: $colorWhite;
    z-index: $subTitleZindex;
    position: relative;
    padding: $subTitlePadding;
    color: $subTitleColor;
  }

  &:before {
    position: absolute;
    top:10px;
    left: 0;
    width:100%;
    height: 1px;
    background: $border-color;
    content: '';
    z-index: $subTitleZindex - 1;
  }

}

.socials {
  text-align: center;
  font-size: $socialsItemSize;

  .social-item {
    margin: $socialsItemMargin;
    text-align: center;

    &.vk {
      &:hover {
        color:#5B8CBD;
      }
    }

    &.fb {
      &:hover {
        color:#305F8E;
      }
    }

    &.gpls {
      &:hover {
        color:#EC0000;
      }
    }
  }
}

.logo-area {
  .logo {
    margin: $logoMargin;
    display: block;
    width:$logoWidth;
  }
}

.login-additional-area {
  text-align: center;
  max-width: $loginInnerContainerWidth;
  margin: $loginAddAreaMargin;

  .registation, .forgotten{
    text-decoration: underline;
  }

  .registation {
    float: left;
  }
  .forgotten {
    float: right;
  }
}

.mainpage {
  background: $colorWhite;
}
//fields - start

.form-control {
  @include round-corners(0);
  height: $fieldHeight;
}

//fields - end

//buttons - start

.btn {
  @include round-corners(0);

  &.login-btn{
    display: block;
    width: 100%;
  }

  &.btn-logout {
    float: right;
    border:none;
    @include round-corners-detailed(5px,5px,0,0);
    padding-left: 20px;
    padding-right: 20px;
    background: $btnLogoutBg;
    color: $btnLogoutColor;
    border-bottom: 1px solid $btnLogoutBorderColor;

    &:hover{
      background: darken($btnLogoutBg, 10%);
    }
  }

  &.btn-primary {
    background-color: $btnPrimaryBg;
    border-color: $btnPrimaryColor;
    padding: 8px 0;
  }
}

//buttons - end

